<mat-card>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field
      class="field-wrapper business-display-field"
      appearance="legacy"
    >
      <mat-label>Business Display Name</mat-label>
      <input formControlName="businessName" type="text" matInput />
      <mat-hint
        *ngIf="
          registerFormControls.businessName.invalid &&
          (registerFormControls.businessName.dirty ||
            registerFormControls.businessName.touched)
        "
        class="invalid"
      >
        <div *ngIf="registerFormControls.businessName.errors?.required">
          Business Display Name is required
        </div>
      </mat-hint>
    </mat-form-field>
    <mat-form-field
      class="field-wrapper business-category-field"
      appearance="legacy"
    >
      <mat-label>Buisness Category</mat-label>
      <mat-select
        formControlName="businessCategory"
        disableOptionCentering
        panelClass="business-category-select"
      >
        <mat-select-trigger>
          {{ selectedCategory }}
        </mat-select-trigger>
        <mat-option
          *ngFor="let businessCategory of businessCategories"
          [value]="businessCategory.shortDesc"
        >
          <div class="options">
            <span class="short-desc">{{ businessCategory.shortDesc }}</span>
            <span class="desc">{{ businessCategory.description }}</span>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <app-chip-field
      [formGroup]="registerForm"
      (scrollChange)="onScrollChange($event)"
      [selectedBusinessTags]="selectedBusinessTags"
      [businessTags]="filtertedBusinessTags"
      (selectTag)="onSelect($event)"
      (removeTag)="onRemoveTag($event)"
    >
      <mat-hint
        *ngIf="
          registerFormControls.businessTags.invalid &&
          (registerFormControls.businessTag.dirty ||
            registerFormControls.businessTag.touched)
        "
        class="invalid"
      >
        <div *ngIf="registerFormControls.businessTags.errors?.maxlength">
          Max of 5 Business Tags are allowed
        </div>
      </mat-hint>
    </app-chip-field>
    <mat-form-field class="field-wrapper webiste-field" appearance="legacy">
      <mat-label>Website</mat-label>
      <input formControlName="website" matInput />
    </mat-form-field>
    <div class="field-wrapper description-field">
      <div class="label-group">
        <mat-label>Description</mat-label>
        <span class="hint-text">{{ descriptionTextLen }}</span>
      </div>
      <textarea
        formControlName="description"
        class="description-text-area"
        placeholder="Eg: Placeholder text goes here"
        matInput
        maxlength="300"
      ></textarea>
    </div>
    <button
      type="submit"
      class="save-button"
      mat-raised-button
      mat-button
      color="warn"
      [disabled]="registerForm.invalid"
    >
      Save
    </button>
  </form>
  <mat-progress-bar
    mode="determinate"
    [value]="completedPercentage"
  ></mat-progress-bar>
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>delete</mat-icon>
  </button>
</mat-card>
